
html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #f6f6f6 50%, #514644 50%);
    min-height: 100%;
    font-family: "helvetica";
}


h1 {
    color: #ffffff;
    padding: 10px;
}


.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}


#heading {
    background-color: #7b7b7b;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

/* target the last child in the div (new input) */
.item:last-child {
    border-bottom: 0;
}


/* target paragraph element comes after cheked input*/
input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #514644;
}


/* apply css to attribute type checkbox*/
input[type="checkbox"] {
    margin: 20px;
}


p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #b1adad;
}


form {
    text-align: center;
    margin-left: 20px;
}


button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #b1adad;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}


input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}


input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #7b7b7b;
}

/* target placeholder selector*/
::placeholder {
    color: grey;
    opacity: 1;
}


footer {
    color: white;
    color: rgba(0,0,0,0.5);
    text-align: center;
}
